body{
  font-family: "微软雅黑";
}

*{
  box-sizing: border-box;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}

.float-clear:after{
  width: 0;
  display: block;
  clear: both;
}

.float-clear{
  zoom: 1;
}

ul{
  list-style: none;
  margin: 0;
}

a{
  text-decoration: none;
}
